In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

In [2]:
df = pd.read_csv("C:/123/SRMAP/Semester 6/Machine Learning Lab/Lab_Task-5/weatherdata.csv")

In [3]:
df.tail()

     Outlook Temperature Humidity    Wind Answer
11  overcast        mild     high  strong    yes
12  overcast         hot   normal    weak    yes
13      rain        mild     high  strong     no
14      rain        cool   normal  strong   yes
15     sunny        mild   normal  strong     no

In [4]:
data = pd.get_dummies(df)

In [5]:
data.head()

,Outlook_overcast,Outlook_rain,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Wind_strong,Wind_weak,Answer_no,Answer_yes,Answer_yes
0,False,False,True,False,True,False,True,False,False,True,True,False,False
1,False,False,True,False,True,False,True,False,True,False,True,False,False
2,True,False,False,False,True,False,True,False,False,True,False,True,False
3,False,True,False,False,False,True,True,False,False,True,False,True,False
4,False,True,False,True,False,False,False,True,False,True,False,True,False

In [18]:
# Assuming the last column is the target column (class)
X = data.iloc[:, :-3]  # Features
y = df.iloc[:, -1]   # Target variable

In [19]:
X.head()

,Outlook_overcast,Outlook_rain,Outlook_sunny,Temperature_cool,Temperature_hot,Temperature_mild,Humidity_high,Humidity_normal,Wind_strong,Wind_weak
0,False,False,True,False,True,False,True,False,False,True
1,False,False,True,False,True,False,True,False,True,False
2,True,False,False,False,True,False,True,False,False,True
3,False,True,False,False,False,True,True,False,False,True
4,False,True,False,True,False,False,False,True,False,True

In [20]:
y.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: Answer, dtype: object

In [21]:
# Create Decision Tree classifier
clf = DecisionTreeClassifier()

In [22]:
# Train Decision Tree Classifier
clf = clf.fit(X, y)

In [23]:
# Classify a new sample
new_sample = pd.DataFrame({
    'Outlook_overcast': [0],
    'Outlook_rain': [1],
    'Outlook_sunny': [0],
    'Temperature_cool': [1],
    'Temperature_hot': [0],
    'Temperature_mild': [0],
    'Humidity_high': [0],
    'Humidity_normal': [1],
    'Wind_strong': [1],
    'Wind_weak': [0]
})

In [24]:
predicted_class = clf.predict(new_sample)
print("Predicted class for new sample:", predicted_class)

Predicted class for new sample: ['no']